body{
    background-color: #F5F3FF;
    width: 95vw;
}
.emty-top{
height: 30px;
width: 80%;
background-color: #5C4074;
margin-left: 30%;
margin-top: 3px;
}
.items {
width: 40%;
background-color: white;
margin-left: 30%;
color: #5C4D74;
font-weight: bold;
}
.add-cart{
    color: #5C4074;
    font-weight: bold;
    margin-left: 60%;
    margin-bottom: 5px;
}
.price{
    margin-left: 40px;
}
p{
    margin-left: 20%;
}
.quantity{
    margin-left: 100px;
}
input{
    width: 15px;
}
.side-bar {
    background-color: #5C4D74;
    height: 100vh;
}
.shopping-cart-text {
color: white;
text-align: center;
margin-top: 10px;
/* text-decoration: underline; */
}
.xty{
    display: inline-block;
}
img{
    /* margin-top: 15px; */
    margin-left: 10px;
}
.btn {
    margin-left: 25px;
    margin-top: 20px;
    color: #5C4D74;
    font-weight: bold;
}
.small-line {
    width: 180px;
    background-color: grey;
}
.full-bar {
    background-color: #F5F3FF;
}
.form-control {
 margin-top: 5px;
 width: 20px   
}
.remove-button {
    color: #5C4D74;
}
input {
    width: 30px 
}
@media only screen and (min-width: 600px) {
    .items {
        margin-left: 150px;
    }
}